<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="BannerPackage Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="BANNER_SDK_API_BASE_URI" value="http://media02.aboalarm.de" />
        <env name="BANNER_SDK_API_USERNAME" value="20a84e0495ad2040dccc28d940e930af" />
        <env name="BANNER_SDK_API_PASSWORD" value="" />
    </php>
</phpunit>
